<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <img src="assets/images/cover.png" alt="" width="300px">
    </div>
        <ul class="navbar-nav mr-5">
        <li class="nav-item" >
          <button class="btn btn-dark text-warning mr-2" [routerLink]="['pretraga']">Pretraga</button>
        </li>
        <li class="nav-item" >
         <button class="btn btn-dark text-warning" [routerLink]="['novine']">Novine</button>
        </li>
      </ul>
  </nav>
  <hr>